* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #000000;
	font-family: sans-serif;
	color: #ffffff;
}

.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main h1 {
	margin: 20px;
}
